.skills_card {
  @apply flex items-center pt-3 pb-6 px-3 justify-between bg-secondary  rounded overflow-hidden relative shadow dark:shadow-xl border border-gray-200 dark:border-0;
}

.skills_card::after {
  content: "";
  width: var(--progress);
  animation: loadProgress 1s;
  @apply bg-primary absolute bottom-0 left-0 h-2;
}

.skills_title {
  @apply font-medium text-lg;
}

.skills_level {
  @apply inline-block text-xs px-2 py-1 bg-primary rounded-sm font-medium text-white tracking-wide lowercase;
}
